@import url(https://fonts.googleapis.com/css?family=Montserrat:300&subset=latin-ext);


nav {
	margin: 0 auto;
	background: #008FEA;
	box-shadow:0 3px 15px rgba(0,0,0,.15);

	-moz-osx-font-smoothing:grayscale;
	-ms-flex-direction:column;
	-webkit-box-direction:normal;
	-webkit-box-orient:vertical;
	-webkit-font-smoothing:antialiased;
	display:flex;
	flex-direction:column;
	font-family:Montserrat, sans-serif;
	font-size: 1em;
	font-weight:300;
	width: 100%;
	border: 1px white solid;
    border-radius: 12px;
    line-height: .5;
}

nav::after {
	display: block;
	content: '';
	clear: both;
}

nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

nav ul li {
	float: left;
	position: relative;
}

nav ul li a {
	display: block;
	color: rgba(255, 255, 255, .9);
	text-decoration: none;
	padding: 1rem 2rem;
	border-top: 2px solid transparent;
	border-bottom: 2px solid transparent;
	transition: all .3s ease-in-out;
}

nav ul li a:hover,
nav ul li a:focus {
	background: rgba(0, 0, 0, .15);
	text-decoration: none;
}

nav ul li a:focus {
	color: white;
}

nav ul li a:not(:only-child)::after {
	padding-left: 4px;
	content: ' ▾';
}

nav ul li ul li {
	min-width: 190px;
}

nav ul li ul li a {
	background: transparent;
	color: #555;
	border-bottom: 1px solid #DDE0E7;
}

nav ul li ul li a:hover,
nav ul li ul li a:focus {
	background: #eee;
	color: #111;
	text-decoration: none;
}

.dropdown {
	display: none;
	position: absolute;
	background: #fff;
	box-shadow: 0 4px 10px rgba(10, 20, 30, .4);
	z-index: 1000;
}


/*Top menu css*/
#homeLogo {
    text-decoration: none;
    display: block;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
    font-size: 15px;
}

.topMenu {
    padding: 4px;
    background: #272b2f;
    color: white;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
    font-size: 15px;
}

.topMenu:hover {
	text-decoration: none;
    background: white;
    color: #272b2f;
}


















